
.titre__replique {
color: rgba(234, 155, 1, 1);
text-align: center;

/* Titre du site */
font-family: Baloo2, sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 36.4px */
}

.text{
color: var(--black-site, #FFF);
font-family: Baloo2, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%;
padding:15px;
}

.heading__2 {
padding: 15px; 
color: #FFF;
font-family: Baloo2, sans-serif;
font-size: 16px;
font-style: 16px;
font-weight: 500;
line-height: 110%; /* 17.6px */

}
.heading__1 {
color: #FFF;
font-family: Baloo2, sans-serif;
padding: 15px;  /* ajustement espaces marges*/
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 130%;
}

.img_index {
  max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
  height: auto; /* Maintient le ratio d'aspect de l'image */
  display: block; /* Élimine l'espace blanc en dessous de l'image */
}

.img__affiche {
 display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  height: 100vh; /* Hauteur complète de la fenêtre de visualisation */
  width: 100vw; 

}


.img_affiche {
  max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  max-height: 100vh; /* Assure que l'image ne dépasse pas la hauteur de la fenêtre de visualisation */
  object-fit: contain;
}

.img_artiste {
 max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  max-height: 100vh; /* Assure que l'image ne dépasse pas la hauteur de la fenêtre de visualisation */
  object-fit: contain;
}
.container__2 {
    display: flex;
  align-items: center; /* Alignement vertical des enfants */
  background-color: #000; /* Couleur de fond du conteneur */
  color: #fff; /* Couleur du texte */
  padding: 20px; 
}
.katniss__D{
    width: 144px;
height: 218px;
}