
.titre__replique {
color: rgba(234, 155, 1, 1);
text-align: center;

/* Titre du site */
font-family: Baloo2, sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 36.4px */
}



/* DESCRIPTION PLAYLIST */

.song-details p {
  font-weight: normal;
  color: #FFF;
  margin: 0px; /* ou une autre valeur selon l'espacement désiré */
  font-family: Baloo2, sans-serif; /* ou la police de votre choix */
  font-size: 16px; /* ou la taille de votre choix */
  padding:12px;
  margin-top: 0;
  pattind-top: 0;
}

.song-details p strong {
  font-weight: bold; /* Rend le texte en gras */
}


.text{
color: var(--black-site, #FFF);
font-family: Baloo2, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%;
padding:15px;
}

.small_text {
   color: var(--grey-text, #EAEAEA);
font-family: Baloo2, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;  
  text-align: right;
  padding:14px;
  margin-top:0;
  padding-top:0;
}

.heading__2 {
padding: 15px; 
color: #FFF;
font-family: Baloo2, sans-serif;
font-size: 16px;
font-style: 16px;
font-weight: 500;
line-height: 110%; /* 17.6px */
 margin-top: 4px;

}
.heading__1 {
color: #FFF;
font-family: Baloo2, sans-serif;
padding: 15px;  /* ajustement espaces marges*/
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 130%;
}

.img_index {
  max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
  height: auto; /* Maintient le ratio d'aspect de l'image */
  display: block; /* Élimine l'espace blanc en dessous de l'image */
}

.img_artiste {
 max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
  max-height: 100vh; /* Assure que l'image ne dépasse pas la hauteur de la fenêtre de visualisation */
  object-fit: contain;
}
.container__2 {
    display: flex;
  align-items: center; /* Alignement vertical des enfants */
  background-color: #000; /* Couleur de fond du conteneur */
  color: #fff; /* Couleur du texte */
  padding: 20px; 
}
.katniss__D{
    width: 144px;
height: 218px;
}

.img__articles {
    width: 324px;
height: 211px;
padding:15px;
}


.film-link {
color: var(--orange, #EA9B01);
    text-decoration: none; /* Removes underline from links */
}

.film-link:hover {
    text-decoration: underline; /* Adds underline on hover for better user experience */
}