
.titre__replique {
color: rgba(234, 155, 1, 1);
text-align: center;

/* Titre du site */
font-family: Baloo2, sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 36.4px */
}

