/* Color styles */
--gray-site: rgba(32, 32, 32, 1);
--black-site: rgba(255, 255, 255, 1);
--grey-text: rgba(234, 234, 234, 1);
--gris-legende: rgba(88, 88, 88, 1);
--black-site: rgba(0, 0, 0, 1);
--orange: rgba(234, 155, 1, 1);
--orange: rgba(222, 133, 0, 1);
--slate--50: rgba(247, 249, 251, 1);
--slate--100: rgba(240, 244, 248, 1);
--slate--200: rgba(225, 231, 239, 1);
--slate--300: rgba(202, 212, 224, 1);
--slate--400: rgba(147, 162, 183, 1);
--slate--500: rgba(100, 116, 138, 1);
--slate--600: rgba(71, 85, 105, 1);
--slate--700: rgba(51, 65, 85, 1);
--slate--800: rgba(30, 41, 59, 1);
--slate--900: rgba(15, 23, 42, 1);
--gray--50: rgba(248, 249, 250, 1);
--gray--100: rgba(242, 243, 245, 1);
--gray--200: rgba(228, 230, 234, 1);
--gray--300: rgba(208, 212, 218, 1);
--gray--400: rgba(155, 162, 174, 1);
--gray--500: rgba(107, 114, 128, 1);
--gray--600: rgba(75, 85, 99, 1);
--gray--700: rgba(55, 65, 81, 1);
--gray--800: rgba(31, 41, 55, 1);
--gray--900: rgba(17, 24, 39, 1);
--zinc--50: rgba(249, 249, 249, 1);
--zinc--100: rgba(243, 243, 244, 1);
--zinc--200: rgba(227, 227, 230, 1);
--zinc--300: rgba(211, 211, 215, 1);
--zinc--400: rgba(160, 160, 169, 1);
--zinc--500: rgba(113, 113, 122, 1);
--zinc--600: rgba(82, 82, 91, 1);
--zinc--700: rgba(63, 63, 70, 1);
--zinc--800: rgba(39, 39, 42, 1);
--zinc--900: rgba(24, 24, 27, 1);
--neutral--50: rgba(249, 249, 249, 1);
--neutral--100: rgba(244, 244, 244, 1);
--neutral--200: rgba(228, 228, 228, 1);
--neutral--300: rgba(211, 211, 211, 1);
--neutral--400: rgba(162, 162, 162, 1);
--neutral--500: rgba(115, 115, 115, 1);
--neutral--600: rgba(82, 82, 82, 1);
--neutral--700: rgba(64, 64, 64, 1);
--neutral--800: rgba(38, 38, 38, 1);
--neutral--900: rgba(23, 23, 23, 1);
--stone--50: rgba(249, 249, 248, 1);
--stone--100: rgba(244, 244, 243, 1);
--stone--200: rgba(230, 228, 227, 1);
--stone--300: rgba(213, 210, 208, 1);
--stone--400: rgba(167, 161, 157, 1);
--stone--500: rgba(120, 113, 108, 1);
--stone--600: rgba(87, 83, 78, 1);
--stone--700: rgba(68, 64, 60, 1);
--stone--800: rgba(41, 37, 36, 1);
--stone--900: rgba(28, 25, 23, 1);
--red--50: rgba(253, 241, 241, 1);
--red--100: rgba(253, 225, 225, 1);
--red--200: rgba(253, 201, 201, 1);
--red--300: rgba(251, 164, 164, 1);
--red--400: rgba(247, 113, 113, 1);
--red--500: rgba(238, 68, 68, 1);
--red--600: rgba(219, 38, 38, 1);
--red--700: rgba(184, 28, 28, 1);
--red--800: rgba(152, 27, 27, 1);
--red--900: rgba(127, 29, 29, 1);
--orange--50: rgba(254, 246, 236, 1);
--orange--100: rgba(254, 236, 212, 1);
--orange--200: rgba(253, 214, 169, 1);
--orange--300: rgba(252, 185, 116, 1);
--orange--400: rgba(250, 145, 60, 1);
--orange--500: rgba(248, 115, 22, 1);
--orange--600: rgba(233, 88, 12, 1);
--orange--700: rgba(193, 65, 12, 1);
--orange--800: rgba(153, 52, 18, 1);
--orange--900: rgba(124, 45, 18, 1);
--amber--50: rgba(254, 250, 234, 1);
--amber--100: rgba(253, 242, 198, 1);
--amber--200: rgba(252, 229, 137, 1);
--amber--300: rgba(251, 210, 77, 1);
--amber--400: rgba(250, 190, 36, 1);
--amber--500: rgba(244, 157, 11, 1);
--amber--600: rgba(216, 119, 6, 1);
--amber--700: rgba(179, 83, 9, 1);
--amber--800: rgba(145, 64, 14, 1);
--amber--900: rgba(120, 53, 15, 1);
--yellow--50: rgba(253, 251, 231, 1);
--yellow--100: rgba(253, 248, 194, 1);
--yellow--200: rgba(253, 239, 137, 1);
--yellow--300: rgba(252, 223, 71, 1);
--yellow--400: rgba(249, 203, 21, 1);
--yellow--500: rgba(233, 178, 8, 1);
--yellow--600: rgba(201, 137, 4, 1);
--yellow--700: rgba(160, 98, 7, 1);
--yellow--800: rgba(132, 77, 14, 1);
--yellow--900: rgba(113, 63, 18, 1);
--lime--50: rgba(246, 253, 230, 1);
--lime--100: rgba(235, 251, 202, 1);
--lime--200: rgba(216, 248, 156, 1);
--lime--300: rgba(189, 241, 100, 1);
--lime--400: rgba(162, 229, 53, 1);
--lime--500: rgba(131, 203, 22, 1);
--lime--600: rgba(101, 162, 13, 1);
--lime--700: rgba(77, 124, 15, 1);
--lime--800: rgba(63, 98, 18, 1);
--lime--900: rgba(54, 83, 20, 1);
--green--50: rgba(239, 252, 243, 1);
--green--100: rgba(219, 251, 230, 1);
--green--200: rgba(186, 246, 207, 1);
--green--300: rgba(133, 238, 171, 1);
--green--400: rgba(74, 221, 128, 1);
--green--500: rgba(34, 196, 94, 1);
--green--600: rgba(22, 162, 74, 1);
--green--700: rgba(21, 128, 61, 1);
--green--800: rgba(22, 101, 52, 1);
--green--900: rgba(20, 83, 45, 1);
--emerald--50: rgba(235, 252, 244, 1);
--emerald--100: rgba(208, 249, 228, 1);
--emerald--200: rgba(166, 242, 207, 1);
--emerald--300: rgba(110, 230, 182, 1);
--emerald--400: rgba(52, 210, 152, 1);
--emerald--500: rgba(16, 184, 128, 1);
--emerald--600: rgba(5, 149, 105, 1);
--emerald--700: rgba(4, 120, 87, 1);
--emerald--800: rgba(6, 95, 70, 1);
--emerald--900: rgba(6, 78, 59, 1);
--teal--50: rgba(239, 252, 249, 1);
--teal--100: rgba(203, 250, 240, 1);
--teal--200: rgba(152, 245, 227, 1);
--teal--300: rgba(94, 233, 211, 1);
--teal--400: rgba(45, 211, 190, 1);
--teal--500: rgba(20, 183, 165, 1);
--teal--600: rgba(13, 147, 135, 1);
--teal--700: rgba(15, 118, 110, 1);
--teal--800: rgba(17, 94, 89, 1);
--teal--900: rgba(19, 78, 74, 1);
--cyan--50: rgba(235, 253, 254, 1);
--cyan--100: rgba(206, 249, 253, 1);
--cyan--200: rgba(164, 242, 251, 1);
--cyan--300: rgba(103, 231, 248, 1);
--cyan--400: rgba(34, 210, 237, 1);
--cyan--500: rgba(6, 181, 211, 1);
--cyan--600: rgba(8, 144, 177, 1);
--cyan--700: rgba(14, 116, 143, 1);
--cyan--800: rgba(21, 94, 117, 1);
--cyan--900: rgba(22, 78, 99, 1);
--sky--50: rgba(239, 248, 254, 1);
--sky--100: rgba(223, 241, 253, 1);
--sky--200: rgba(185, 229, 252, 1);
--sky--300: rgba(125, 210, 251, 1);
--sky--400: rgba(56, 188, 247, 1);
--sky--500: rgba(14, 164, 232, 1);
--sky--600: rgba(2, 131, 198, 1);
--sky--700: rgba(3, 105, 160, 1);
--sky--800: rgba(7, 89, 132, 1);
--sky--900: rgba(12, 74, 110, 1);
--blue--50: rgba(238, 245, 254, 1);
--blue--100: rgba(218, 233, 253, 1);
--blue--200: rgba(190, 218, 253, 1);
--blue--300: rgba(146, 196, 252, 1);
--blue--400: rgba(96, 164, 249, 1);
--blue--500: rgba(59, 129, 245, 1);
--blue--600: rgba(37, 99, 234, 1);
--blue--700: rgba(29, 78, 215, 1);
--blue--800: rgba(30, 64, 174, 1);
--blue--900: rgba(30, 58, 137, 1);
--indigo--50: rgba(237, 241, 254, 1);
--indigo--100: rgba(223, 230, 254, 1);
--indigo--200: rgba(198, 209, 253, 1);
--indigo--300: rgba(164, 179, 251, 1);
--indigo--400: rgba(128, 139, 247, 1);
--indigo--500: rgba(99, 102, 240, 1);
--indigo--600: rgba(79, 70, 228, 1);
--indigo--700: rgba(67, 56, 201, 1);
--indigo--800: rgba(55, 48, 162, 1);
--indigo--900: rgba(49, 46, 128, 1);
--violet--50: rgba(244, 242, 254, 1);
--violet--100: rgba(236, 232, 253, 1);
--violet--200: rgba(220, 213, 253, 1);
--violet--300: rgba(195, 180, 252, 1);
--violet--400: rgba(166, 138, 249, 1);
--violet--500: rgba(138, 92, 245, 1);
--violet--600: rgba(124, 58, 236, 1);
--violet--700: rgba(109, 40, 216, 1);
--violet--800: rgba(91, 33, 181, 1);
--violet--900: rgba(76, 29, 148, 1);
--purple--50: rgba(249, 244, 254, 1);
--purple--100: rgba(242, 231, 254, 1);
--purple--200: rgba(232, 212, 254, 1);
--purple--300: rgba(215, 179, 253, 1);
--purple--400: rgba(191, 131, 251, 1);
--purple--500: rgba(167, 85, 246, 1);
--purple--600: rgba(146, 51, 233, 1);
--purple--700: rgba(126, 34, 205, 1);
--purple--800: rgba(107, 33, 167, 1);
--purple--900: rgba(88, 28, 134, 1);
--fuchsia--50: rgba(252, 243, 254, 1);
--fuchsia--100: rgba(249, 231, 254, 1);
--fuchsia--200: rgba(244, 207, 253, 1);
--fuchsia--300: rgba(239, 170, 251, 1);
--fuchsia--400: rgba(231, 121, 248, 1);
--fuchsia--500: rgba(216, 70, 238, 1);
--fuchsia--600: rgba(191, 38, 210, 1);
--fuchsia--700: rgba(161, 28, 174, 1);
--fuchsia--800: rgba(133, 25, 142, 1);
--fuchsia--900: rgba(112, 26, 117, 1);
--pink--50: rgba(252, 241, 247, 1);
--pink--100: rgba(251, 230, 242, 1);
--pink--200: rgba(250, 206, 231, 1);
--pink--300: rgba(248, 167, 211, 1);
--pink--400: rgba(243, 114, 181, 1);
--pink--500: rgba(235, 72, 152, 1);
--pink--600: rgba(218, 39, 119, 1);
--pink--700: rgba(189, 24, 93, 1);
--pink--800: rgba(156, 23, 77, 1);
--pink--900: rgba(130, 24, 67, 1);
--rose--50: rgba(254, 240, 241, 1);
--rose--100: rgba(254, 227, 229, 1);
--rose--200: rgba(253, 204, 210, 1);
--rose--300: rgba(252, 163, 174, 1);
--rose--400: rgba(250, 113, 132, 1);
--rose--500: rgba(243, 63, 94, 1);
--rose--600: rgba(224, 29, 72, 1);
--rose--700: rgba(189, 18, 60, 1);
--rose--800: rgba(158, 18, 57, 1);
--rose--900: rgba(135, 19, 55, 1);

/* Text-size styles */
--titre-du-site: 28px;
--heading-1: 24px;
--heading-2: 16px;
--heading-3: 14px;
--button: 12px;
--entete--text: 16px;
--small--text: 12px;
--bold-text: 14px;
--text: 14px;
--text-xs--black: 12px;
--text-xs--bold: 12px;
--text-xs--extra-bold: 12px;
--text-xs--extra-light: 12px;
--text-xs--light: 12px;
--text-xs--medium: 12px;
--text-xs--regular: 12px;
--text-xs--semi-bold: 12px;
--text-xs--thin: 12px;
--text-sm--black: 14px;
--text-sm--bold: 14px;
--text-sm--extra-bold: 14px;
--text-sm--extra-light: 14px;
--text-sm--light: 14px;
--text-sm--medium: 14px;
--text-sm--regular: 14px;
--text-sm--semi-bold: 14px;
--text-sm--thin: 14px;
--text-base--black: 16px;
--text-base--bold: 16px;
--text-base--extra-bold: 16px;
--text-base--extra-light: 16px;
--text-base--light: 16px;
--text-base--medium: 16px;
--text-base--regular: 16px;
--text-base--semi-bold: 16px;
--text-base--thin: 16px;
--text-lg--black: 18px;
--text-lg--bold: 18px;
--text-lg--extra-bold: 18px;
--text-lg--extra-light: 18px;
--text-lg--light: 18px;
--text-lg--medium: 18px;
--text-lg--regular: 18px;
--text-lg--semi-bold: 18px;
--text-lg--thin: 18px;
--text-xl--black: 20px;
--text-xl--bold: 20px;
--text-xl--extra-bold: 20px;
--text-xl--extra-light: 20px;
--text-xl--light: 20px;
--text-xl--medium: 20px;
--text-xl--regular: 20px;
--text-xl--semi-bold: 20px;
--text-xl--thin: 20px;
--text-2xl--black: 24px;
--text-2xl--bold: 24px;
--text-2xl--extra-bold: 24px;
--text-2xl--extra-light: 24px;
--text-2xl--light: 24px;
--text-2xl--medium: 24px;
--text-2xl--regular: 24px;
--text-2xl--semi-bold: 24px;
--text-2xl--thin: 24px;
--text-3xl--black: 30px;
--text-3xl--bold: 30px;
--text-3xl--extra-bold: 30px;
--text-3xl--extra-light: 30px;
--text-3xl--light: 30px;
--text-3xl--medium: 30px;
--text-3xl--regular: 30px;
--text-3xl--semi-bold: 30px;
--text-3xl--thin: 30px;
--text-4xl--black: 36px;
--text-4xl--bold: 36px;
--text-4xl--extra-bold: 36px;
--text-4xl--extra-light: 36px;
--text-4xl--light: 36px;
--text-4xl--medium: 36px;
--text-4xl--regular: 36px;
--text-4xl--semi-bold: 36px;
--text-4xl--thin: 36px;
--text-5xl--black: 48px;
--text-5xl--bold: 48px;
--text-5xl--extra-bold: 48px;
--text-5xl--extra-light: 48px;
--text-5xl--light: 48px;
--text-5xl--medium: 48px;
--text-5xl--regular: 48px;
--text-5xl--semi-bold: 48px;
--text-5xl--thin: 48px;
--text-6xl--black: 60px;
--text-6xl--bold: 60px;
--text-6xl--extra-bold: 60px;
--text-6xl--extra-light: 60px;
--text-6xl--light: 60px;
--text-6xl--medium: 60px;
--text-6xl--regular: 60px;
--text-6xl--semi-bold: 60px;
--text-6xl--thin: 60px;
--text-7xl--black: 72px;
--text-7xl--bold: 72px;
--text-7xl--extra-bold: 72px;
--text-7xl--extra-light: 72px;
--text-7xl--light: 72px;
--text-7xl--medium: 72px;
--text-7xl--regular: 72px;
--text-7xl--semi-bold: 72px;
--text-7xl--thin: 72px;
--text-8xl--black: 96px;
--text-8xl--bold: 96px;
--text-8xl--extra-bold: 96px;
--text-8xl--extra-light: 96px;
--text-8xl--light: 96px;
--text-8xl--medium: 96px;
--text-8xl--regular: 96px;
--text-8xl--semi-bold: 96px;
--text-8xl--thin: 96px;
--text-9xl--black: 128px;
--text-9xl--bold: 128px;
--text-9xl--extra-bold: 128px;
--text-9xl--extra-light: 128px;
--text-9xl--light: 128px;
--text-9xl--medium: 128px;
--text-9xl--regular: 128px;
--text-9xl--semi-bold: 128px;
--text-9xl--thin: 128px;

/* Effect styles */
--shadow-sm:  0px 1px 2px rgba(0, 0, 0, 0.05);
--shadow-base:  0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
--shadow-md:  0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
--shadow-lg:  0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
--shadow-xl:  0px 20px 25px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
--shadow-2xl:  0px 25px 50px rgba(0, 0, 0, 0.25);