.footer {
    background: var(--gray-site, #202020);
    color: #fff; /* Texte blanc pour contraster avec le fond gris */
    padding: 20px; /* Espacement interne */
     /* Centrage du texte */


}

.logo_footer {
    margin-bottom: 10px; /* Espacement après les titres */
    color: var(--black-site, #FFF); 
    font-family: Baloo2, sans-serif;
    text-align:center;

}

.footer__list-item{
    text-decoration: none;
  color: var(--black-site, #FFF);
  font-family: Baloo2, sans-serif;
  font-size: 16px;
  font-weight: 500s;
   text-align:left;
   padding-top:60px; 
 
   margin-left:0px;
}

.footer__list-menu{
    color: var(--gray-site, #202020);
    padding-top:60px;
}

.text__footer {
     font-family: Baloo2, sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 20px; 
  padding-top: 60px; 

}


.text__footer1 {
     font-family: Baloo2, sans-serif;
  font-size: 16px;
  text-align:left;
  margin-left:37px;
  


}


.text__icon{
    font-family: Baloo2, sans-serif;
  font-size: 16px;
  text-align:left;
  padding:10px;
   padding-top: 70px; 
   margin-left:37px;
}




.footer-content h1, .footer-content h2 {
    margin-bottom: 10px; /* Espacement après les titres */
    
}

.footer-content p, .footer-content a {
    margin-bottom: 5px; /* Espacement entre les paragraphes et liens */
    
}

.social-icons a {
    margin:10px; /* Espacement entre les icônes */
    display: inline-block; /* Les icônes sont en ligne avec un espace autour */
    margin-left:30px;
}

.social-icons img {
    width: 24px; /* Taille des icônes sociales */
    height: auto; /* Hauteur automatique pour conserver le rapport d'aspect */
}

.footer-flag a {
    display: inline-block; /* Le lien est en ligne avec un espace autour */
    margin-top: 10px; /* Espacement au-dessus du lien */
}
.footer__flag1 {
     width: 32px; /* Taille du drapeau */
     padding-top:0px;
     padding-left:320px;

}
.footer-flag img {
    width: 32px; /* Taille du drapeau */
    height: 24px;
    padding-left:2000px;
     
}

.footer-recenter {
    position: fixed; /* Position fixe pour le bouton */
    bottom: 20px; /* Distance du bas de la page */
    left: 50%; /* Positionnement au centre de la page */
    transform: translateX(-50%); /* Ajustement précis du centrage */
}

.footer-recenter button {
    padding: 10px 20px; /* Espacement interne du bouton */
    background-color: #333; /* Couleur de fond plus sombre pour le bouton */
    color: #fff; /* Texte blanc pour contraster avec le fond du bouton */
    border: none; /* Pas de bordure pour le bouton */
    cursor: pointer; /* Indique que le bouton est cliquable */
}
