.gallery {
    position: relative;
    max-width: 600px;
    margin: auto;
    
}

.main-image {
    position: relative;
    margin: 34px;
    
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
}

.nav-button.left {
    left: 0;
}

.nav-button.right {
    right: 0;
    color: var(#585858);
}

.slide {
    width: 100%;
    display: block; /* initialement caché par x-show */
    border: 2px solid var(--black-site, #FFF);
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 80px; /* Ajustez selon la taille de vos vignettes */
    cursor: pointer;
    opacity: 0.9;
    border: 2px solid var(--black-site, #FFF);
}

.thumbnail.active {
    opacity: 1;
    border: 2px solid var(--black-site, #FFF);
}



/* carrousel dans la page film*/

.galerie-hero {
    position: relative;
    max-width: 1378px; /* La largeur totale de votre galerie */
    margin: auto;
}

.conteneur-slider {
    position: relative;
}

.bouton-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.bouton-gauche {
    left: 0;
}

.bouton-droit {
    right: 0;
}

.ensemble-slides {
    display: flex;
    justify-content: space-around; /* Distribue les images uniformément */
    align-items: center;
    transition: transform 0.5s ease;
}

.image-principale {
    display: block;
    width: 95px; /* La largeur de chaque image */
    height: 95px; /* La hauteur de chaque image */
    border-radius: 50%; /* Les rend rondes */
    object-fit: cover; /* Garantit que les images couvrent tout le cercle */
}

/* Cachez tous les ensembles de diapositives par défaut */
.ensemble-slides[x-show="false"] {
    display: none;
}

.texte-description {
    color: white;
    font-size: 1rem;
}

.role-description {
    color: grey;
    font-size: 0.9rem;
}
.description {
    color: white;
}

.description h3 {
   
    margin: 0;
    color: #FFFFFF; /* Couleur du titre */
    font-family: Baloo2, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%; 
}

.description p {
    font-size: 0.9rem;
    margin: 0;
    color: var(--orange, #DE8500);
    font-family: Baloo2, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    
}



/* CARROUSSEL PAGE LIVRE */

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin: 0%; 
    }
  .carrousel_ecran {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
    margin: 5%; 
    }
  .carrousel_ecran figure {
    margin: 0%; 
    }


    .carrousel-card {
        margin-top: 40px;
        position: relative;
    }
      
    .carrousel-card__img{
        top: 0;
        left: 0;
        right: 0;
        height:auto;
        z-index: -1;
        width: 400px;
        max-width: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        
      }
      .carrousel-card__img-retouch{
        border-radius: 5px;
        height: 400px;
        width: 320px;
        display: block;
        margin-left: auto;
        margin-right: auto;

      }
    
      .carrousel-card__caption{
        padding: 5px 5px 5px 5px;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
        width: 320px; 
        z-index: 1;
        border-radius: 10px;
        background-color: var(--black-site);
      }
      
      .carrousel-card__title{
        text-align: center;
        color: var(--black-site, #FFF);
        font-family: Baloo2, sans-serif;
        font-size: var(--heading-2);
        font-weight: 500;
      }

      .carrousel-card__link{
        color: var(--black-site, #FFF);
         font-family: Baloo2, sans-serif;
         text-decoration: none;
         margin-top: 10px;

      }

      .carrousel_btn {
        position: absolute;
        margin-top: 50% ;
        margin-right: 40px;
        transform: translateY(-50%); 
        width: 2rem;
        height: 2rem;
        background: rgba(0,0,0,0.5);
        border-radius: 50%;
        border: none;
        display: grid;
        place-content: center;
        color: #fff;
      }
    
      .carrousel_btn-avant {
        left: 50;
      }
    
      .carrousel_btn-apres {
        right: 0;
      }
