

.image-auteur {

     display: block;
    width: 95px; /* La largeur de chaque image */
    height: 95px; /* La hauteur de chaque image */
    border-radius: 50%; /* Les rend rondes */
    object-fit: cover;
    margin-left: auto; /* Centre l'image horizontalement */
    margin-right: auto;
}

.small_text_auteur {
    color: #FFF;
    font-family: 'Baloo 2', sans-serif; /* Assurez-vous que la police est bien chargée ou disponible */
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    text-align: center; /* Centre le texte horizontalement */
    padding: 14px; /* Ajoutez ou ajustez le padding selon vos besoins */
}

.img_livre{

    width: 156px;
height: 260px;
flex-shrink: 0;
margin: auto;
 display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
}

.img_affiche{
    width: 189px;
    height: 284px;
    flex-shrink: 0;
    margin: auto;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; 
    

}